/* =============================================================================
   Variables
   ========================================================================== */

$main-color: #3fa3d5; // #FF3D7F
$black: #000;
$darkgrey: #444;
$mediumgrey: #666;
$lightgrey: #999;
$white: #FFF;
$space: 1em;

// Font weights
$light: 100;
$regular: 400;
$bold: 600;

// Base Font
$base-font-family: sans-serif;
$base-font-weight: $regular;
$base-font-size: 13px;
$base-line-height: 1.4;

// Fixed Font
$fixed-font-family: monospace;
$fixed-font-size: 85%;
$fixed-line-height: $base-line-height;

// Headings
$header-font-weight: $bold;
