/* ordered list */
ol.round {
    list-style-type: none;
    padding-left: 0;
}

    ol.round li {
        margin: 25px 0;
        padding-left: 45px;
    }

        ol.round li.zero {
            background: url("/images/orderedList0.png") no-repeat;
        }

        ol.round li.one {
            background: url("/images/orderedList1.png") no-repeat;
        }

        ol.round li.two {
            background: url("/images/orderedList2.png") no-repeat;
        }

        ol.round li.three {
            background: url("/images/orderedList3.png") no-repeat;
        }

        ol.round li.four {
            background: url("/images/orderedList4.png") no-repeat;
        }

        ol.round li.five {
            background: url("/images/orderedList5.png") no-repeat;
        }

        ol.round li.six {
            background: url("/images/orderedList6.png") no-repeat;
        }

        ol.round li.seven {
            background: url("/images/orderedList7.png") no-repeat;
        }

        ol.round li.eight {
            background: url("/images/orderedList8.png") no-repeat;
        }

        ol.round li.nine {
            background: url("/images/orderedList9.png") no-repeat;
        }