// All Mediums -- Apply to all resolutions. Inherits to all layouts.

.half-block {
    display: inline-block;
    width: 49.65%;

    // Mobile-Landscape //
    @media screen and (max-width: 699px) and (orientation: landscape){

        display: block;
        width: 100%;
    }
}

.full-block {
    display: block;
    width: 100%;
}