
/* =============================================================================
   COVER
   ========================================================================== */

.cover {
    width: 100%;
    max-width: none;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    position: relative;

    //position: fixed;
    //top: 0;
    z-index: 4;

    /**/
    // Tablet-Landscape //
    @media screen and (max-width: 1024px){
        height: 600px;
    }

    // Tablet-Portrait //
    @media screen and (max-width: 768px){
        height: 600px;
    }

    // Mobile-Landscape //
    @media screen and (max-width: 699px) and (orientation: landscape){
        height: 300px;
    }

    // Mobile-Portrait //
    @media screen and (max-width: 499px) and (orientation: portrait){
        height: 300px;
    }
    

    // Small Desktop //
    @media screen and (min-width: 1025px){
    
        width: 380px;
        height: 100%;

        position: fixed;
        top: 0;
        bottom: 0;
        z-index: 5;
    }

    // Notebook //
    @media screen and (min-width: 1300px){width: 420px;}
}


/* =============================================================================
   COVER ELEMENTS
   ========================================================================== */

.cover-img {
    //position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;

    //background-color: rgba(102, 76, 0, 0.6); //<---- Testing

    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

    -webkit-box-shadow: inset -1px 0 0 rgba(0,0,0,0.3);
    -moz-box-shadow: inset -1px 0 0 rgba(0,0,0,0.3);
    box-shadow: inset -1px 0 0 rgba(0,0,0,0.3);
}

.cover-header {
    border: 1px dashed white; //<--- DEV LINE

    margin: 0;
    width: 100%;

    position: absolute;
    top: 0;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    // Small Desktop //
    @media screen and (min-width: 1025px){max-height: 70%;}

    hgroup {
        padding-left: 10%;
        line-height: 1em;
        color: #fff;
        color: rgba(255, 255, 255, 0.9);
        text-shadow: 0 1px 3px rgba(0,0,0,0.3);

        h1, h2 {font-weight: 400;}
        h1 {font-size: 2.8em;}
        h2 {font-size: 1.8em;}

        // Tablet //
        @media screen and (max-width: 1024px){padding-left: 6%;}

        // Mobile //
        @media screen and (max-width: 699px){

            h1 {font-size: 1.5em;}
            h2 {font-size: 1.3em;}
        }

        // Small Desktop //
        @media screen and (min-width: 1025px){width: 90%;}
    }
}

.cover-body {
    border: 1px dashed white; //<--- DEV LINE

    margin: 0;
    padding-left: 10%;
    padding-bottom: 1em;
    width: 100%;

    display: table-cell;
    vertical-align: bottom;

    position: absolute;
    bottom: 0;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    // Tablet //
    @media screen and (max-width: 1024px){padding-left: 6%;}

    // Small Desktop //
    @media screen and (min-width: 1025px){min-height: 20%;}

    &:before {
        content: '';
        background-repeat: repeat-x;
        position: absolute;
        top: -80px;
        right: 0;
        bottom: 0;
        left: 0;

        // Tablet //
        @media screen and (max-width: 1024px){
            margin-top:50px;            background-image: -webkit-linear-gradient(bottom,rgba(0,0,0,0.7) 0,rgba(0,0,0,0.3) 30%,rgba(0,0,0,0) 100%);
            background-image: -moz-linear-gradient(bottom,rgba(0,0,0,0.7) 0,rgba(0,0,0,0.3) 30%,rgba(0,0,0,0) 100%);
            background-image: -ms-linear-gradient(bottom,rgba(0,0,0,0.7) 0,rgba(0,0,0,0.3) 30%,rgba(0,0,0,0) 100%);
            background-image: linear-gradient(to top,rgba(0,0,0,0.7) 0,rgba(0,0,0,0.3) 30%,rgba(0,0,0,0) 100%);
        }

        // Small Desktop //
        @media screen and (min-width: 1025px){
            background-image: -webkit-linear-gradient(bottom,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.3) 70%,rgba(0,0,0,0) 100%);
            background-image: -moz-linear-gradient(bottom,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.3) 70%,rgba(0,0,0,0) 100%);
            background-image: -ms-linear-gradient(bottom,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.3) 70%,rgba(0,0,0,0) 100%);
            background-image: linear-gradient(to top,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.3) 70%,rgba(0,0,0,0) 100%);
        }
    }

    h1 {
        //margin-bottom: 1em;
        //padding-left: 10%;
        line-height: 1em;
        color: #fff;
        color: rgba(255, 255, 255, 0.9);
        text-shadow: 0 1px 3px rgba(0,0,0,0.3);

        font-size: 3.40em;
        font-weight: 200;

        // Mobile //
        @media screen and (max-width: 699px){font-size: 1.9em;}
        
        span {
            font-size: .730em;
            
            // Mobile //
            @media screen and (max-width: 699px){font-size: .85em;}
        }
    }

    .social {
        //border: 1px solid red;

        a.icon {
            background-color: rgba(0, 0, 0, 0.3);
            //border: 1px solid #ccc;
            border-top: #777;
            border-left: #fff;
            border-radius: 25px;
            margin-right: 3px;
            padding: 5px 7px;
            line-height: 2.23em;
            font-size: 1.1em;
            text-align: center;

            &:first-child {
                padding: 5px 9px;
            }
        }
    }
}

.cover-body .cover-body-inner {
    position: relative;
    z-index: 100;
}